<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047075673747-fk0iolmkg5g7uad42tb48t3gk7aat38d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047075673747-fk0iolmkg5g7uad42tb48t3gk7aat38d</string>
	<key>API_KEY</key>
	<string>AIzaSyAn2_ibXW_Teiva32LKg70z762XcINlQ9U</string>
	<key>GCM_SENDER_ID</key>
	<string>1047075673747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testchallange.testchallange</string>
	<key>PROJECT_ID</key>
	<string>testchallange</string>
	<key>STORAGE_BUCKET</key>
	<string>testchallange.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047075673747:ios:64690bb1f74d56dc6ddf66</string>
</dict>
</plist>